<%= simple_form_for(
  @agenda_item,
  url: :set_unmarked_event,
  method: :put,
  html: { class: 'form-horizontal' }, 
          wrapper: :horizontal_form,
          wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>

  <%= f.error_notification %>
  
  <div class='title'> <%= t('agenda_item.get_unmarked_event') %> </div>

  <div class='section'>
    <div class='label1 top req'> <%=t("agenda_item.scheduled_to") %> </div>
    <span class="label label-success"><%= @agenda_item.scheduled_to.to_s_br %></span>
    <div class='label1 top req'> <%=t("agenda.doctor") %> </div>
    <span class="label label-success"><%= @agenda.doctor.name %></span>
    <div class='label1 top req'> <%=t("agenda_item.patient") %> </div>
    <span class="label label-success"><%= @agenda_item.patient.name %></span>
    <div class='label1 top req'> <%=t("agenda.room") %> </div>
    <span class="label label-success"><%= @agenda.room.name %></span>
  </div>
  
  <br>
  
  <%= f.input :unmarked_by_patient, label: 'Desmarcado pelo Paciente?', as: :radio_buttons, collection: [['SIM',true],['NÃO',false]] %>
  <%= f.input :unmarked_description, label: 'Motivo para desmarcar consulta' %>

  <div class='buttonbar'>
    <%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
    <%= 'ou' %>
    <%= link_to t('menu.cancel'), root_path %>
  </div>
  
<% end %>
