<div class='title_tools'>
  <%= link_to(t('ticket.new'), new_ticket_path, class: "btn btn-large btn-warning") %>
</div>

<div class='title_page'>
  <span> <%= t('ticket.title') %> </span>
</div>

<div class='list1'>
  <% @tickets.each do |ticket| %>
    <li>
      <div class='strip' id='none'> <%= ticket.id %> </div>

      <div class='tools'>
        <%= link_to(t('menu.edit'), edit_ticket_path(ticket), class: "btn btn-xs btn-default") %>
      </div>

      <div class='indent'>
        <%= link_to(ticket.patient.name, patient_path(ticket.patient_id), class: "btn btn-xs btn-success") %>      
        &bull;
        <%= ticket.ticket_datetime.to_s_br %>
        &bull;
        <%= ticket.health_insurance.name %>

        <tt>
        </tt>
        <dt>
          <% text1 = agenda_item_attended_description(ticket.id, 1) %>
          <% text2 = agenda_item_attended_description(ticket.id, 2) %>
          <% text3 = agenda_item_attended_description(ticket.id, 3) %>
          <% if text1.present? %>
            <%= text1 %>
            <br>
          <% end %>
          <% if text2.present? %>
            <%= text2 %>
            <br>
          <% end %>
          <% if text3.present? %>
            <%= text3 %>
          <% end %>
        </dt>
      </div>
    </li>
  <% end %>
</div>

<div id='paginate'>
  <div class="apple_pagination">
    <%= will_paginate @tickets, :container => false %>
  </div>
</div>
