<div class='title'> <%= t('ticket.new_ticket_from_agenda') %> </div>

<div class='section'>
  <div class='label1 top req'> <%=t("ticket.ticket_date") %>: </div>
  <span class="label label-success"><%= @ticket.created_at.to_s_br %></span>
  <div class='label1 top req'> <%=t("doctor.name") %>: </div>
  <span class="label label-success"><%= @ticket.doctor.name %></span>
  <div class='label1 top req'> <%=t("ticket.patient") %>: </div>
  <span class="label label-success"><%= @ticket.patient.name %></span>
</div>
<br>

<%= simple_form_for(
    @ticket,
    url: :create_ticket_from_agenda,
    html: { class: 'form-horizontal' }, 
            wrapper: :horizontal_form,
            wrapper_mappings: {
            check_boxes: :horizontal_radio_and_checkboxes,
            radio_buttons: :horizontal_radio_and_checkboxes,
            file: :horizontal_file_input,
            boolean: :horizontal_boolean
          }) do |f| %>

  <%= f.error_notification %>

  <%= f.input :unit_id, as: :hidden %>
  <%= f.input :doctor_id, as: :hidden %>
  <%= f.input :agenda_item_id, as: :hidden %>
  <%= f.input :patient_id, as: :hidden %>
  <%= f.association :health_insurance, label: "Convênio/Plano de Saúde do Paciente", collection: HealthInsurance.list(current_user.unit_id).order(:name) %>

  <div id='form_procedure_1'>
    <div class='subtitle'> Procedimento 1 </div><br> 
    <%= f.input :procedure_id, label: "Procedimento 1 executado na consulta", collection: Procedure.list(current_user.unit_id).order(:name), label_method: :name_with_type %>
    <%= f.input :procedure_description, label: 'Descrição do procedimento' %>
    <%= f.input :auth_code, label: 'Código de Autorização do procedimento' %>
  </div>

  <div id='form_procedure_2'>
    <div class='subtitle'> Procedimento 2 </div><br>
    <%= f.input :procedure_2_id, label: "Procedimento 2 executado na consulta", collection: Procedure.list(current_user.unit_id).order(:name), label_method: :name_with_type %>
    <%= f.input :procedure_description_2, label: 'Descrição do procedimento' %>
    <%= f.input :auth_code_2, label: 'Código de Autorização do procedimento' %>
  </div>

  <div id='form_procedure_3'>
    <div class='subtitle'> Procedimento 3 </div><br>
    <%= f.input :procedure_3_id, label: "Procedimento 3 executado na consulta", collection: Procedure.list(current_user.unit_id).order(:name), label_method: :name_with_type %>
    <%= f.input :procedure_description_3, label: 'Descrição do procedimento' %>
    <%= f.input :auth_code_3, label: 'Código de Autorização do procedimento' %>
  </div>

  <div class='buttonbar'>
    <%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
    <%= 'ou' %>
    <%= link_to t('menu.cancel'), root_path %>
  </div>
<% end %>

