<div id='list_events' class='list1'>

  <% if @agenda_items.present? && @agenda.agenda_date >= Date.current %>
    <div class='title_tools'>

      <%= link_to(t('agenda.delete'), {controller: "agendas", action: "delete_agenda", cod: @agenda.id}, remote: true, id: 'delete_agenda', class: "btn btn-large btn-danger") %>
    
      <%= link_to(t('agenda_item.new'), new_agenda_item_path, class: "btn btn-large btn-default") %> 

    </div>
  <% end %>

  <div class='title_page'>
    <% if @agenda %>
      <%= @agenda.agenda_date.to_s_br %>
      &dash;
      <%= @agenda.doctor.treatment  + " " + @agenda.doctor.name %>
      &dash;
      <%= @agenda.room.name %>
    <% end %>
  </div>

  <% @agenda_items.each do |agenda_item| %>

    <% if (not agenda_item.empty?) or (agenda_item.empty? and agenda_item.scheduled_to >= Time.current) %>

      <li>
        <div class="strip-label strip-label-primary"><%= agenda_item.scheduled_to.strftime("%H:%M") %></div>

        <div class='tools'>
          <% if agenda_item.attended? %>
            <%= link_to "Editar Consulta", edit_ticket_path(ticket_id(agenda_item.id)), class: "btn btn-xs btn-default" %>
          <% end %>

          <% if agenda_item.marked? %>
            <%= link_to "Compareceu a Consulta?", {controller: "tickets", action: "new_ticket_from_agenda", cod: agenda_item.id}, remote: true, id: 'attended_event', class: "btn btn-xs btn-default" %>

            <%= link_to "Faltou?", {controller: "agenda_items", action: "set_not_attended_event", cod: agenda_item.id}, remote: true, id: 'not_attended_event', class: "btn btn-xs btn-default" %>

            <%= link_to("Desmarcar?", get_unmarked_event_path(agenda_item.id), method: :get, remote: true, id: 'get_unmarked_event', class: "btn btn-xs btn-default") %>
          <% end %>       
        </div>

        <div class='indent'>
          <% if agenda_item.empty? %>
            <% if agenda_item.scheduled_to >= Time.current %>
              <%= link_to(t('agenda_item.edit'), edit_agenda_item_path(agenda_item), class: "btn btn-xs btn-default") %>
            <% else %>
              <a class="btn btn-xs btn-default"><%= "Marcação Encerrada" %></a>
            <% end %>
          <% else %>
            <% if agenda_item.marked? %>
              <a class="btn btn-xs btn-info"><%= "Consulta agendada" %></a>
              &bull;
            <% end %>
            <% if agenda_item.attended? %>
              <a class="btn btn-xs btn-success"><%= "Consulta efetivada" %></a>
              &bull;
            <% end %>
            <% if agenda_item.not_attended? %>
              <a class="btn btn-xs btn-danger"><%= "Paciente faltou" %></a>
              &bull;
            <% end %>
            <% if agenda_item.unmarked? %>
              <a class="btn btn-xs btn-warning"><%= "Consulta Desmarcada" %></a>
              &bull;
            <% end %>
            <% if agenda_item.extra %>
              <a class="btn btn-xs btn-default"><%= "Encaixe" %></a>
              &bull;
            <% end %>
            <%= agenda_item.id %>
            &bull;
            <%= link_to(agenda_item.patient.name, patient_path(agenda_item.patient)) %>
            &bull;
            <%= agenda_item.patient.health_insurance.name %>
            &bull;
            <tt>
              <% if agenda_item.patient.phone.present? %>
                <%= 'Telefone: '<<agenda_item.patient.phone %>
                &bull;
              <% end %>
              <% if agenda_item.patient.sms.present? %>
                <%= 'SMS: '<<agenda_item.patient.sms %>
              <% end %>
            </tt>
            <dt>
              <% if agenda_item.attended? %>
                <% text1 = agenda_item_attended_description(ticket_id(agenda_item.id), 1) %>
                <% text2 = agenda_item_attended_description(ticket_id(agenda_item.id), 2) %>
                <% text3 = agenda_item_attended_description(ticket_id(agenda_item.id), 3) %>
                <% if text1.present? %>
                  <%= text1 %>
                  <br>
                <% end %>
                <% if text2.present? %>
                  <%= text2 %>
                  <br>
                <% end %>
                <% if text3.present? %>
                  <%= text3 %>
                <% end %>
              <% end %> 
              <%= agenda_item_unmarked_description(agenda_item) if agenda_item.unmarked? %>
            </dt>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</div>
