<div class='title_tools'>
  <a class="btn btn-large btn-warning" <%= link_to(t('procedure.new'), new_procedure_path) %> </a>
</div>

<div class='title_page'>
  <span> <%= t('procedure.title') %> </span>
</div>

<div class='list1'>
  <% @procedures.each do |procedure| %>
    <li>
      <div class='strip' id='none'> <%= procedure.id %> </div>

      <div class='tools'>
        <a class="btn btn-xs btn-default" <%= link_to(t('menu.edit'), edit_procedure_path(procedure)) %> </a>
      </div>

      <div class='indent'>
        <%= procedure.health_insurance.name %> &bull;
        <%= procedure.procedure_type.name %> &bull;
        <%= link_to(procedure.code, procedure_path(procedure)) %> &bull;
        <%= link_to(procedure.name, procedure_path(procedure)) %> &bull;
        <tt>
          CHO: <%= procedure.cho.real %> &dash;
          Participação: <%= procedure.copart_value.real %> &dash;
          Convênio: <%= procedure.health_insurance_value.real %> &dash;
          Total: <%= (procedure.copart_value + procedure.health_insurance_value).real %>
        </tt>
        <dt>
        </dt>
      </div>
    </li>
  <% end %>
</div>

<div id='paginate'>
  <div class="apple_pagination">
    <%= will_paginate @procedures, :container => false %>
  </div>
</div>
